{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>
    
    <!--Bootstrap CSS v4.6-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <!--styles personalizados-->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
</head>

<body>
    
    <header>
         {% include "header.html" %} 
    </header>
    
    <main>
    <div class="container mt-5">
        
        <div class="jumbotron text-center">
            <h1 class="display-4 m-auto">Bem vindo!</h1>
            <p class="lead m-auto">O que você quer fazer hoje?</p>
        </div>
        
        <br><br>
        
        <div class="row">
            <div class="col-6 col-sm-2 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cadastrar Aluno</h5>
                        <p class="card-text">Cadastre um novo aluno(a).</p>
                        <a href="cadastro-aluno/" class="btn btn-primary">Cadastrar</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-2 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cadastrar Professor</h5>
                        <p class="card-text">Cadastre um novo Professor(a).</p>
                        <a href="cadastro-professor/" class="btn btn-primary">Cadastrar</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-2 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Criar Turma</h5>
                        <p class="card-text">Cadastre uma nova turma.</p>
                        <a href="cadastro-turma/" class="btn btn-primary">Criar</a>
                    </div>
                </div>
            </div>
    
            <div class="col-6 col-sm-2 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formar turma</h5>
                        <p class="card-text">Inisira um aluno(a) em uma turma.</p>
                        <a href="matricula-aluno/" class="btn btn-primary">Formar</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-2 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Professor/Turma</h5>
                        <p class="card-text">Insira um professor a uma turma.</p>
                        <a href="lotacao-professor/" class="btn btn-primary">Definir</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-2 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ver Relatório</h5>
                        <p class="card-text">Veja o total de alunos e professores.</p>
                        <a href="relatorio/" class="btn btn-primary">Relatório</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    
    <footer class="text-center">
        <span class="text-muted small"> &copy; Jelson Matheus</span>
    </footer>
    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
  
</html>